<div class="container">
    <div class="col-sm-4">

    </div>

    <div class="col-sm-8">
        <div ng-repeat="track in home.tracks">
            <h1>{{ track.name }}</h1>

            <div ng-repeat="album in home.albums" ng-if="track.album == album.url">

                <div ng-repeat="artist in home.artists" ng-if="album.artist == artist.url">
                    <h4>Artist: {{ artist.name }} | Album: {{album.name }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
